.screeningCallBanner {
  border-color: $colors-base-blue-2;
  background: $colors-base-blue-1;
  color: $colors-base-blue-5;
}

.screeningCallIcon {
  padding-top: 0.4rem;
  align-self: flex-start;
}

.screeningCallButtonIcon {
  transform: rotate(90deg);
}
