// JobsLayout styles
.content {
  width: 100%;
  height: 100vh;
  max-height: calc(100vh - 20rem);
  background-color: $colors-neutral-color-white;
  margin-right: 2rem;
  border-radius: 0.8rem;
}

.header {
  background-color: $colors-neutral-color-bg-base;
  position: sticky;
  top: 7rem;
  z-index: 10;
  padding: 0 8rem;
}

.sider {
  background: transparent;
}

.layout {
  background: transparent;
  margin: 0 8rem;
}