.twoColumnLayout {
  width: 100%;
}

.leftColumn {
  background: transparent;
}

.rightColumn {
  background: transparent;
  position: sticky;
  top: 24px;
  height: fit-content;
  max-height: calc(100vh - 48px);
  overflow-y: auto;
}

