// TODO: move this to top level
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.expandedJobView {
  font-family: 'Inter', sans-serif;
  width: 100%;
  margin-bottom: 2rem;
  display: flex;
  padding: 3.2rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 3.2rem;
  align-self: stretch;
  border-radius: 0.8rem;
  border: 1px solid $colors-neutral-border-color-border-secondary;
  background: $colors-neutral-color-bg-base;
}

.loadingCard {
  & :global(.ant-spin) {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20rem;
  }
}
