.applicationFormFooterContainer {
  display: flex;
  justify-content: flex-end;
  padding-top: 0.8rem;
}

.resumeChoiceSelectFooterContainer {
  display: flex;
  justify-content: space-between;
  padding-top: 0.8rem;
}
