.bodyContainer {
  width: 100%;
}

.tabs {
  // Ant Design Tabs overrides
  & :global(.ant-tabs-tab) {
    font-size: 1.4rem;
    padding: 1.2rem 2.4rem;
  }

  & :global(.ant-tabs-content-holder) {
    padding: 2rem 0;
  }
}

