.modalTitle {
  display: flex;
  flex-direction: column;
}

.modalTitleHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modalTitleContent {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.modalCloseIcon {
  cursor: pointer;
}

.modalDescription {
  margin-top: 0.8rem;
  font-size: $h6-size;
  color: $colors-neutral-text-color-text-secondary;
}

.modalFooter {
  display: flex;
  justify-content: flex-end;
  gap: 0.8rem;
}

.createAlertContent {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 1.6rem;
  overflow-x: hidden;
  max-width: 100%;

  :global(.ant-form-item) {
    margin-bottom: 0px !important;
  }

  :global(.ant-form-item-control) {
    max-width: 100%;
  }

  :global(.ant-form-item-control-input) {
    max-width: 100%;
  }
}

.formField {
  display: flex;
  flex-direction: column;
}

.formLabel {
  margin-bottom: 0.4rem;
  font-size: $default-font-size;
  color: $colors-neutral-text-color-text;
}

.requiredAsterisk {
  color: $colors-brand-error-color-error;
}

.formInput {
  width: 100%;
}

.experienceInputs {
  display: flex;
  gap: 0.8rem;
}


.modal {

  :global(.ant-modal-content) {
    display: flex;
    flex-direction: column;
    max-height: 60rem;
    overflow: hidden;
    width: 100%;
  }

  :global(.ant-modal-body) {
    overflow-y: auto;
    width: 100%;
  }
}

.radioGroup {
  display: flex;
  gap: 1.6rem;
  flex-wrap: wrap;
}


.drawerHeaderSubtitle {
  font-weight: 400;
  font-size: $h6-size;
}

.filterIcon {
  color: $colors-brand-primary-color-primary;
}