.header {
  width: 100%;
}

.jobTitle {
  color: #006AFF !important;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.5;
  margin-bottom: 0 !important;
}

.companyName {
  font-size: 1.1rem;
  color: rgba(0, 0, 0, 0.45);
}

.titleContainer {
  width: 100%;
}

.actions {
  width: 100%;
}

