.container {
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 72rem;
}

.likeBadge {
  width: 10rem;
  height: 10rem;
  margin-bottom: 1.6rem;
}

.description {
  margin-bottom: 9rem;
  max-width: 50rem;
  text-align: center;
}
