.container {
  display: flex;
  padding: 1.2rem;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-radius: 0.8rem;
  border: 1px solid $colors-base-purple-3;
  background: $colors-base-purple-1;
  color: $colors-neutral-text-color-text;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.2rem;
}
