.container {
  text-align: center;
  height: 100%;
}

.icon {
  margin-bottom: 1.6rem;
  font-size: 7.2rem;
}

.title {
  font-size: $h5-size;
  font-weight: 600;
  color: $colors-neutral-text-color-text;
}

.description {
  font-size: $default-font-size;
  color: $colors-neutral-text-color-text;
  max-width: 45rem;
}
