.jobCard {
  width: 100%;
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover:not(.expired) {
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
  }

  &.active {
    border-top: none;
    border-right: none;
    border-bottom: 0.0625rem solid $colors-brand-info-color-info-border;
    border-left: 0.125rem solid $colors-brand-info-color-info-border;
    background: $colors-base-blue-1;
    box-shadow: none;
    
    & :global(.ant-card-body) {
      padding: 1rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
    }
  }

  &.expired {
    opacity: 0.7;
    cursor: not-allowed;
    
    &:hover {
      border-color: $colors-neutral-border-color-border;
      box-shadow: none;
    }
  }

  &.archived {
    opacity: 0.6;
    background: $colors-neutral-bg-color-bg-layout;
  }

  & :global(.ant-card-body) {
    padding: 1rem;
    height: auto;
  }
}

.cardContent {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
}
