.heading {
  margin-bottom: 0.8rem !important;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.spinner {
  display: block;
  text-align: center;
  padding: 2rem;
}

.alert {
  margin: 1rem 0;
}

.header {
  padding: 2rem;
  gap: 0rem;
}