.workflowChecklist {
  width: 100%;
}

.checklistTitle {
  margin-bottom: 24px !important;
  font-size: 18px;
  font-weight: 600;
}

.emptyState {
  text-align: center;
  padding: 40px;
  color: #8c8c8c;
}

