.monitorBanner {
  border-color: $colors-base-geekblue-3;
  background: $colors-base-geekblue-1;
  color: $colors-base-geekblue-6;
}

.monitorIcon {
  padding-top: 0.4rem;
  align-self: flex-start;
}
